<div>
    <h1> Regiser </h1>
    <form method="post" action="/create">
        <table>
            <tr><td><label> Name : </label></td>  <td> <input type="text" name="eName" id="eName" value="" /> </td> </tr>
            <tr><td><label> E-Mail : </label> </td>  <td> <input type="text" name="eEmail" id="eEmail" value="" /> </td> </tr>
            <tr><td><label> Employee ID : </label></td>  <td> <input type="text" name="eId" id="eId" value="" /> </td> </tr>
            <tr><td><label> Department : </label></td>  <td> <input type="text" name="eDepartment" id="eDepartment" value="" /> </td> </tr>
            <tr><td><label> Salary : </label></td>  <td> <input type="text" name="eSalary" id="eSalary" value="" /> </td> </tr>
            <tr><td></td>  <td><input type="submit" name="submit" value="submit"/> </td> </tr>
        </table>
    </form>
</div>    